<%- include('../include/inc_header.ejs', { 
	cate : '03',
    title : 'archive'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="searchArea">
            <div class="searchForm">
                <div class="selectWrap">
                    <select name="category" id="category">
                        <option value="title" selected>제목</option>
                        <option value="title_cont">제목+내용</option>
                    </select>
                    <label for="category"><img class="icon_arrow_bottom_line"></label>
                </div>
                <div class="searchWrap searchTitle">
                    <input type="search" id="searchStr" name="searchStr" />
                    <button type="submit"><img class="icon_search" alt="찾기"></button>
                </div>
            </div>
        </div>
        <div class="listArea textThumb">
            <!-- 관리자용 체크박스(전체체크용) 샘플 :: 위치와 태그 참고 -->
            <!-- <div style="text-align:right">
                <p class="admin_check_all">전체선택 <input type="checkbox" name="admin" id="01"></p>
            </div> -->
            <a class="list top" href="archive_view.html">
                <div class="cont">
                    <div class="no">공지</div>
                    <div class="exp">
                        <p class="title">
                            393 기도카드 
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2023년 5월 16일</p>
                    </div>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list top" href="archive_view.html">
                <div class="cont">
                    <div class="no">공지</div>
                    <div class="exp">
                        <p class="title">
                            2023년 버스운행시간표 
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2023년 4월 7일</p>
                    </div>
                </div>
            </a>
            <a class="list top" href="archive_view.html">
                <div class="cont">
                    <div class="no">공지</div>
                    <div class="exp">
                        <p class="title">
                            수입국 : 기관 주일헌금 양식, 기관 후원금 양식 
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2023년 3월 3일</p>
                    </div>
                </div>
            </a>
            <a class="list top" href="archive_view.html">
                <div class="cont">
                    <div class="no">공지</div>
                    <div class="exp">
                        <p class="title">
                            스카이아트홀 심벌마크 
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2022년 11월 17일</p>
                    </div>
                </div>
            </a>
            <a class="list top" href="archive_view.html">
                <div class="cont">
                    <div class="no">공지</div>
                    <div class="exp">
                        <p class="title">
                            예배실 현수막 사이즈 안내 
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2021년 9월 3일</p>
                    </div>
                </div>
            </a>
            <a class="list top" href="archive_view.html">
                <div class="cont">
                    <div class="no">공지</div>
                    <div class="exp">
                        <p class="title">
                            지출국 : 2023년 위원회 총 결산서 접수 
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2020년 11월 7일</p>
                    </div>
                </div>
            </a>
            <a class="list top" href="archive_view.html">
                <div class="cont">
                    <div class="no">공지</div>
                    <div class="exp">
                        <p class="title">
                            예원교회 CI 및 예원체 
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2020년 7월 9일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="archive_view.html">
                <div class="cont">
                    <div class="no">31</div>
                    <div class="exp">
                        <p class="title">
                            20231126 렘넌트 1, 2 위원회 주보
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2023년 11월 25일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="archive_view.html">
                <div class="cont">
                    <div class="no">30</div>
                    <div class="exp">
                        <p class="title">
                            20231119 렘넌트 1, 2 위원회 주보
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2023년 11월 18일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="archive_view.html">
                <div class="cont">
                    <div class="no">29</div>
                    <div class="exp">
                        <p class="title">
                            20231112 전문 교회, 현장 사역 위원회 주보
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2023년 11월 12일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="archive_view.html">
                <div class="cont">
                    <div class="no">28</div>
                    <div class="exp">
                        <p class="title">
                            20231112 다민족 위원회 주보
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2023년 11월 12일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="archive_view.html">
                <div class="cont">
                    <div class="no">27</div>
                    <div class="exp">
                        <p class="title">
                            20231112 렘넌트 1, 2 위원회 주보
                            <span class="clip"><img class="icon_clip" alt="첨부파일"></span>
                        </p>
                        <p class="date">2023년 11월 12일</p>
                    </div>
                </div>
            </a>
            <div class="moreBtn">
                <button>더보기</button>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>