<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'church_groups'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap church_group">
            <div class="wrap900">
                <!-- 교구 -->
                <p class="h1 mgbt10 mgt20">세상으로부터<br>부르심을 받은 공동체</p>
                <p class="img mgt10 mgbt60"><img src="../images/img_letter_ecclesia.png" alt="Ecclesia" class="writing1"></p>
                <p class="h5"><b>교회는 세상으로부터 부르심을 받은 공동체라는 의미로 에클레시아(Ecclesia)라고 부르기도 합니다. </b></p>
                <p class="h5 mgbt20"><b>그리스도인이 건강한 믿음을 지키기 위해서는 교회 공동체 안에서 함께 교제하며 힘을 얻어야 합니다.</b></p>
                <p class="h5 mgbt20">
                    교회에서는 성도님들의 신앙생활을 돕기 위하여 각 지역을 ‘교구’로 편성하고, <br>편성된 ‘교구'를 ‘지역’과 ‘구역’으로 구분하여 세분화하고 있습니다. <br>
                    성도님들은 교구와 구역(지역)에 속하여 주중 모임을 갖고 신앙생활의 각종 편의(신앙상담, 교제, 경조사 등)등을 안내받게 됩니다.
                </p>
                <div class="emphasis">
                    <div class="title h3">
                        교구
                    </div>
                    <div class="exp h4">
                        교회에서 전도나 행정, 관리를 효율적으로 하기 위해 편의상 구문해놓은 단위. <br>
                        대개  교구 > 지역 > 구역 등으로 조직.
                    </div>
                </div>
                <div class="emphasis">
                    <div class="title h3">
                        구역
                    </div>
                    <div class="exp h4">
                        교회 행정 조직의 최소 단위로 주거지가 가까운 교인들의 일정 지역을 구획하여 관리하는 소단위 조직.(출처 : 교회용어사전)
                    </div>
                </div>
                <p class="h5 mgt40"><b>각 교구에는 주중 여 성도 모임, 남 성도 모임이 있습니다.</b></p>
                <p class="h5 mgbt20"><b>이런 모임을 통해 주일 예배에서 주신 은혜를 서로 나누며 각 가정과 개인을 위해 기도하는 시간을 갖습니다.</b></p>
                <p class="h5 mgbt80"><b>예원의 모든 성도들이 교구 모임을 통해 복음 공동체 안에서 하나님 나라의 배경과 축복을 누리시기를 축복하며 기도합니다.</b></p>


                <!-- 남녀전도회 -->
                <p class="h1 mgbt10 mgt60">교회 부흥의 Key<br>남녀전도회</p>
                <p class="img mgt10 mgbt60"><img src="../images/img_letter_evangelism_group.png" alt="Evangelism Group" class="writing2"></p>
                <p class="h4 mgbt20">영적 성숙을 지향하는 예원남녀전도회</p>
                <p class="h5 mgbt20">
                    예원교회 남녀전도회는 남 전도회 34개 여 전도회 57개로 구성되어 있습니다.<br>
                    말씀포럼 기도포럼 전도포럼 강단말씀으로 소통되는 남녀전도회는<br>
                    시간이 지날수록 발효되어 익어가는 영적성숙한 전도회를 지향하고 있습니다<br>
                </p>
                <p class="h4 mgbt60 img01"><img src="../images/img_group_02.jpg" alt="남녀전도회"><img src="../images/img_group_03.jpg" alt="남녀전도회"></p>
                <p class="h3 mgbt10">모이는 전도회</p>
                <p class="h5 mgbt60">
                    강단 말씀을 중심으로 모이는 남녀전도회는,<br>
                    매월 마지막주일 하나되는 시간을 통해<br>
                    말씀 포럼으로 서로를 살리고 세우는 공동체의 축복을 누리고 있습니다
                </p>
                <p class="h3 mgbt10">흩어지는 전도회</p>
                <p class="h5 mgbt80">
                    237나라 5000종족 복음화를 향해 현장으로 흩어지는 남녀 전도회는<br>
                    하나님의 뜻과 계획에 방향을 잡고 삶속에서 전도와 선교의 축복을 누리는 공동체입니다.
                </p>
                <p class="h1 mgbt80"></p>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>