<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'column'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="wrap900">
            <p class="h1 mgbt10 mgt20">담임목사 칼럼</p>
        </div>
        <div class="listArea textThumb">
            <!-- 관리자용 체크박스(전체체크용) 샘플 :: 위치와 태그 참고 -->
            <!-- <div style="text-align:right">
                <p class="admin_check_all">전체선택 <input type="checkbox" name="admin" id="01"></p>
            </div> -->
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">25</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 하나님 사랑의 극치(極致), 십자가!
                        </p>
                        <p class="date">2023년 9월 7일</p>
                    </div>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">24</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 기독교 사랑의 본질 
                        </p>
                        <p class="date">2023년 9월 9일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">25</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 하나님 사랑의 극치(極致), 십자가!
                        </p>
                        <p class="date">2023년 9월 7일</p>
                    </div>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">24</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 기독교 사랑의 본질 
                        </p>
                        <p class="date">2023년 9월 9일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">25</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 하나님 사랑의 극치(極致), 십자가!
                        </p>
                        <p class="date">2023년 9월 7일</p>
                    </div>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">24</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 기독교 사랑의 본질 
                        </p>
                        <p class="date">2023년 9월 9일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">25</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 하나님 사랑의 극치(極致), 십자가!
                        </p>
                        <p class="date">2023년 9월 7일</p>
                    </div>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">24</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 기독교 사랑의 본질 
                        </p>
                        <p class="date">2023년 9월 9일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">25</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 하나님 사랑의 극치(極致), 십자가!
                        </p>
                        <p class="date">2023년 9월 7일</p>
                    </div>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">24</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 기독교 사랑의 본질 
                        </p>
                        <p class="date">2023년 9월 9일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">25</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 하나님 사랑의 극치(極致), 십자가!
                        </p>
                        <p class="date">2023년 9월 7일</p>
                    </div>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">24</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 기독교 사랑의 본질 
                        </p>
                        <p class="date">2023년 9월 9일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">25</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 하나님 사랑의 극치(極致), 십자가!
                        </p>
                        <p class="date">2023년 9월 7일</p>
                    </div>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">24</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 기독교 사랑의 본질 
                        </p>
                        <p class="date">2023년 9월 9일</p>
                    </div>
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">25</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 하나님 사랑의 극치(極致), 십자가!
                        </p>
                        <p class="date">2023년 9월 7일</p>
                    </div>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list" href="column_view.html">
                <div class="cont">
                    <div class="no">24</div>
                    <div class="exp">
                        <p class="title">
                            [기독교신문] 기독교 사랑의 본질 
                        </p>
                        <p class="date">2023년 9월 9일</p>
                    </div>
                </div>
            </a>
            <div class="moreBtn">
                <button>더보기</button>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>