<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'coramdeo'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap coramdeo">
            <div class="wrap900">
                <p class="title h1 mgt20">CoramDeo는<br />'하나님 앞에서'라는 뜻입니다</p>
                <p class="img mgt20 mgbt30"><img src="../images/img_letter_coramdeo.png" alt="Coramdeo" class="writing"></p>
                <p class="h5 bold mgbt20">코람데오는 믿습니다.</p>
                <p class="h5 mgbt80">오직 예수 그리스도 중심의 단 한 번의 예배가 인생을 바꿉니다.<br />
                    우리는 예배로 이 믿음을 하나님께 드립니다.<br />
                    코람데오는 치유와 회복의 영적 방주입니다.<br />
                    우리의 기준이 바뀌면 세상의 모든 아픈 청년을 살릴 수 있습니다.<br />
                    예원의 DNA를 가진 코람데오의 사명은 전도와 선교입니다.<br />
                    우리는 오늘도 오직 예수 그리스도만 앞세워 '하나님 앞에서' 도전합니다.<br />
                    하나님의 소원이 코람데오의 소원이 되기를 우리는 오늘도 기도합니다.</p>
                <a href="https://youtu.be/hwV17DW9HBc?si=lX-JshdlriZM4fLl" target="_blank" class="videoLink mgbt20">
                    <div class="thumb"><img src="../images/img_coramdeo_thumb_01.jpg" alt="청년회 기관보고 영상"></div>
                    <div class="exp">
                        <p>청년회<br/>기관보고영상</p>
                        <p><img src="../images/icon_arrow_long_white.svg" alt="link"></p>
                    </div>
                </a>
                <a href="https://youtu.be/ueArMv2RDIE?si=DiQEkeQKhzVxXP_u"  target="_blank" class="videoLink mgbt20">
                    <div class="thumb"><img src="../images/img_coramdeo_thumb_02.jpg" alt="코스피릿 스위트홈 237살릴 청년들(다민족)"></div>
                    <div class="exp">
                        <p>코스피릿 스위트홈<br/> 237살릴 청년들(다민족)</p>
                        <p><img src="../images/icon_arrow_long_white.svg" alt="link"></p>
                    </div>
                </a>
                <a href="https://youtu.be/lUSmhobaGfo?si=qjD30ZkQRXqIvRox"  target="_blank" class="videoLink mgbt20">
                    <div class="thumb"><img src="../images/img_coramdeo_thumb_03.jpg" alt="코스피릿 스위트홈 237살릴 청년들(다민족)"></div>
                    <div class="exp">
                        <p>지교회3<br/>이태원에 사는 사람들</p>
                        <p><img src="../images/icon_arrow_long_white.svg" alt="link"></p>
                    </div>
                </a>
                <a href="https://youtu.be/v5u8OYbk9wQ?si=9RhFr78PLz_rBryP"  target="_blank" class="videoLink mgbt80">
                    <div class="thumb"><img src="../images/img_coramdeo_thumb_04.jpg" alt="코스피릿 스위트홈 237살릴 청년들(다민족)"></div>
                    <div class="exp">
                        <p>찬양 My Jesus</p>
                        <p><img src="../images/icon_arrow_long_white.svg" alt="link"></p>
                    </div>
                </a>
            </div>
            
            <div class="wrapWide mgbt80">
                <div class="links">
                    <a href="http://pf.kakao.com/_Alpxkd" target="_blank">
                        <img src="../images/icon_kakaoplus.svg" alt="">
                        <p>청년선교회<br/>카카오톡 플러스친구</p>
                    </a>
                    <a href="www.instagram.com/ecoramdeo" target="_blank">
                        <img src="../images/icon_instagram.png" alt="">
                        <p>청년선교회<br/>인스타그램</p>
                    </a>
                    <a href="https://youtube.com/@CoramDeo237" target="_blank">
                        <img src="../images/icon_youtube.svg" alt="">
                        <p>청년선교회<br/>유튜브채널</p>
                    </a>
                </div>
            </div>

            <div class="wrap900">

                <p class="h3">청년 예배</p>
                <p class="h5 green-left mgbt80"><b>주일 오후 2시 30분</b> (본당 커버넌트홀 지하 1층, 지상 1층)
                </p>
                <p class="h3">새가족 등록</p>
                <p class="h5 green-left mgbt10"><b>주일 대예배 (오전 10시, 정오 12시)</b> - 본당커버넌트홀 입구 새가족등록 데스크</p>
                <p class="h5 green-left mgbt80">
                    <b>청년예배 (오후 2시 30분)</b> - 본당 커버넌트홀 지하1층 새가족등록 데스크</p>
                    
                <div class="greenBox mgbt20">
                    <div class="title"><p class="h3">영접반</p></div>
                    <div class="exp">
                        <p class="mgbt10"><b>대상</b> 청년회에 새로 오신 모든 새가족</p>
                        <p class="mgbt10"><b>시간</b> 청년예배 후 (오후 4시 30분~5시)</p>
                        <p class="mgbt10"><b>장소</b> 예원청년센터</p>
                    </div>                    
                </div>   
                <div class="greenBox mgbt80">
                    <div class="title"><p class="h3">코람로드</p><p class="h5">4주 과정</p></div>
                    <div class="exp">
                        <p class="mgbt10 split">
                            <span class="green-right"><b>1주</b></span>
                            <span><b>1과</b> 예수님이 그리스도 이십니다. (마16:16)</span>
                        </p>
                        <p class="mgbt10 split">
                            <span class="green-right"><b>2주</b></span>
                            <span><b>2과</b> 영접의 의미와 실제 (요1:1-14)</span>
                        </p>
                        <p class="mgbt10 split">
                            <span class="green-right"><b>3주</b></span>
                            <span><b>3과</b> 구원받은 자의 7가지 축복과 5가지 확신 (고전2:9-12)</span>
                        </p>
                        <p class="mgbt10 split">
                            <span class="green-right"><b>4주</b></span>
                            <span><b>4과</b> 지금부터 어떻게 신앙생활을 해야 하나요? (고후8:24)</span>
                        </p>
                    </div>                    
                </div>

                <p class="h3">청년회 기도회</p>
                <p class="h5 green-left mgbt10"><b>수요청년예배</b> 오후 9시 30분 (렘넌트문화센터 지하 2층 스카이아트홀)</p>
                <p class="h5 green-left mgbt10">
                    <b>금요현장팀사역</b> 오후 10시 30분 (렘넌트문화센터 지하 2층 스카이아트홀
                </p>
                <p class="h5 green-left mgbt80"><b>아침기도회</b> 월-금 오전 7시 (예원청년센터)</p>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>