<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'sunday_school'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap cultural_class">
            <div class="wrap900 navi">
                <div class="sub_navi mgt40 mgbt80">
                    <a href="sunday_school.html">주일학교</a>
                    <a href="edu_institution.html">교회부설 <span>교육기관</span></a>
                    <a class="on">어린이 <span>문화교실</span></a>
                </div>
                <p class="title h1 mgt20">어린이 문화교실</p>
                <p class="img mgt10"><img src="../images/img_letter_cultural_class.png" alt="Cultural Class" class="writing"></p>
            </div>
            <!-- 예원부부교실 -->
            <div class="wrap900 pdbt80 pdt80">
                <div class="fRow">
                    <div class="img"><img src="../images/img_culture_010.jpg" alt=""></div>
                    <div class="exp r_side">
                        <p class="h3 mgbt10">예원 결혼학교</p>
                        <p class="h5">
                            결혼을 준비하는 예비부부들과 결혼한 부부들이 알아야 할 <br>
                            성경적 부부와 가정의 비밀을 전달해요!
                            <div><b>담당자</b> 박순필 권사 010-5126-4517</div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 예원태아교실 -->
            <div class="wrapWide">
                <div class="wrap900 pdbt80 pdt80">
                    <div class="fRow">
                        <div class="exp l_side">
                            <p class="h3 mgbt10">예원 태아교실</p>
                            <p class="h5">
                                후대를 준비하는 행복한 부부 & 하나님의 축복인 후대와의 만남을 예원 태아교실에서 시작하세요!
                                <div><b>담당자</b> 나지선 권사 010-7119-0593</div>
                            </p>
                        </div>
                        <div class="img"><img src="../images/img_culture_01.jpg" alt=""></div>
                    </div>
                </div>
            </div>
            <!-- 예원태아교실 -->
            <div class="wrap900 pdbt80 pdt80">
                <div class="fRow">
                    <div class="img"><img src="../images/img_culture_011.jpg" alt=""></div>
                    <div class="exp r_side">
                        <p class="h3 mgbt10">예원 부부교실</p>
                        <p class="h5">
                            성경적 남편과 아내의 비밀을 깨닫고 성경적 가정을 만들어가는 예원 부부교실로 오세요!
                            <div><b>담당자</b> 김승진 권사 010-3248-0996</div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 예원서밋스쿨 -->
            <div class="wrapWide">
                <div class="wrap900 pdbt80 pdt80">
                    <div class="fRow">
                        <div class="exp l_side">
                            <p class="h3 mgbt10">예원 영아국 서밋스쿨</p>
                            <p class="h5">
                                매년 5월과 10월 토요일에 열리는 서밋스쿨은 엄마와 아빠와 아기가 함께 
                                언약의 말씀, 놀이체험, 성장놀이 등 다양한 프로그램으로<br>
                                영성과 전문성을 기르는 시간입니다.
                                <div><b>담당자</b> 정은경 권사 010-9251-9343</div>
                            </p>
                        </div>
                        <div class="img"><img src="../images/img_culture_03.jpg" alt=""></div>
                    </div>
                </div>
            </div>
            <!-- 아기학교 -->
            <div class="wrap900 pdbt80 pdt80">
                <div class="fRow">
                    <div class="img"><img src="../images/img_culture_04.jpg" alt=""></div>
                    <div class="exp r_side">
                        <p class="h3 mgbt10">예원 아기학교</p>
                        <p class="h5">
                            예원의 영적 서밋 학교인 예원 아기학교는 24개월에서 48개월의 아기들이 엄마아빠와 함께 애착을 형성하는 귀중한 시간을 갖고 첫 사회생활의 기초를 쌓을 수 있도록 돕는 프로그램입니다. 하나님의 말씀과 다양한 활동(신체, 오감, 음악, 인지, 미술, 작품), 현장학습을 통해서 아기의 발달과정에 맞는 다양한 경험을 제공합니다.
                            <div><b>담당자</b> 김영순 준목 010-7473-4151</div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 가베교실  -->
            <div class="wrapWide">
                <div class="wrap900 pdbt80 pdt80">
                    <div class="fRow">
                        <div class="exp l_side">
                            <p class="h3 mgbt10">예원 가베교실</p>
                            <p class="h5">
                                가베교실에서는 이야기 하늘 나라와 원목 교구 및 워크북을 활용한 다양한 활동을 통해 사회성을 길러주고 있습니다. 창의력, 정서, 언어 능력, 지능 및 신체 각 기관의 발달을 촉진시키고 집중력과 자발성을 이끌어 줄 수 있는 신나고 재미있는 활동들이 준비돠어 있습니다.
                                <div><b>담당자</b> 오은숙 권사 010-7549-0170</div>
                            </p>
                        </div>
                        <div class="img"><img src="../images/img_culture_05.jpg" alt=""></div>
                    </div>
                </div>
            </div>
            <!-- 유치국 복음엘리트  -->
            <div class="wrap900 pdbt80 pdt80">
                <div class="fRow">
                    <div class="img"><img src="../images/img_culture_07.jpg" alt=""></div>
                    <div class="exp r_side">
                        <p class="h3 mgbt10">유치국 복음엘리트 교실</p>
                        <p class="h5">
                            다섯가지 힘(영력, 지력, 체력, 경제력, 인력)과 복음 전하는 법을 배우며 복음 가진 엘리트로 준비되어요! <br>
                            (연 2회, 3~5주, 주일)
                            <div><b>담당자</b> 송재희 전도사 010-2899-1962</div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 유치부 복음빛깔 -->
            <div class="wrapWide">
                <div class="wrap900 pdbt80 pdt80">
                    <div class="fRow">
                        <div class="exp l_side">
                            <p class="h3 mgbt10">유치국 복음빛깔</p>
                            <p class="h5">
                                학교에 입학하기 전 복음 안에서 화, 기쁨, 무서움, 용서 등의 감정을 만나고 절제, 약속, 청결 등의 규모를 준비해요! <br>
                                (연 2회, 3~5주, 주일)
                                <div><b>담당자</b> 송재희 전도사 010-2899-1962</div>
                            </p>
                        </div>
                        <div class="img"><img src="../images/img_culture_06.jpg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>