<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'sunday_school'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap edu_inst">
            <div class="wrap900 navi">
                <div class="sub_navi mgt40 mgbt80">
                    <a href="sunday_school.html">주일학교</a>
                    <a class="on">교회부설 <span>교육기관</span></a>
                    <a href="cultural_class.html">어린이 <span>문화교실</span></a>
                </div>
            </div>
            <div class="wrap900 pdbt80">
                <p class="title h1 mgt20">예스키즈 <span>(YES Kids)</span></p>
                <p class="img mgt10 mgbt40"><img src="../images/img_letter_yeskids.png" alt="YESkids" class="writing yeskids"></p>
                <p class="h5">
                    <b>예스키즈(YESkids)는 영유아를 위한 영성과 전문성을 준비하고 시작하는 명문 교육기관</b>으로<br>
                    글로벌 리더 영어와 자기조절력과 주도적 학습의 기초와 기본을 쌓는 복음엘리트 서밋리더를 양성하는 곳입니다.
                </p>
                <div class="emphasis">
                    <div class="title h5">
                        예스키즈<br>Curriculum
                    </div>
                    <div class="exp h5">
                        Spirituality + English + Debate + Coding + Science + Montessori + Ecology Creativity + Art + Gospel + Kinder Music / Teakwondo
                    </div>
                </div>
                <div class="fRow mgbt40">
                    <div class="img"><img src="../images/img_yeskids.jpg" alt=""></div>
                    <div class="exp">
                        <div class="blt_square">
                            <div class="black"></div>
                            <div class="red"></div>
                        </div>
                        <p class="h5 mgbt40">
                            매일 예배 속에서 고후1:20 언약 가운데 예(YES)!,<br>
                            말씀에 절대순종(Amen)! 하는 힘을 키우고 있습니다.
                        </p>
                        <div class="blt_square">
                            <div class="black"></div>
                            <div class="red"></div>
                        </div>
                        <p class="h5">
                            복음으로 재해석된 모든 교육활동 영역속에서 <br>
                            하나님 주신 달란트를 찾도록 다양한 경험을 합니다.
                        </p>
                    </div>
                </div>
            </div>
            <div class="wrapWide">
                <div class="wrap900 pdbt80 pdt60">
                    <p class="title h1 mgt20">예원서밋스쿨 <span>(YSS)</span></p>
                    <p class="img mgt10 mgbt40"><img src="../images/img_letter_yss.png" alt="YESkids" class="writing yss"></p>
                    <p class="h5 mgbt40">
                        <b>예원서밋스쿨은 2023년 3월에 개교한 초등대안교육기관입니다.</b><br>
                        렘넌트가 복음각인, 기도뿌리, 전도체질이 되어 3단체와 영적 혼돈의 미래를 살릴 렘넌트로 준비되고 있습니다.
                    </p>
                    <div class="fRow">
                        <div class="img2"><img src="../images/img_yss01.jpg" alt=""></div>
                        <div class="img2"><img src="../images/img_yss02.jpg" alt=""></div>
                    </div>
                    <div class="emphasis green">
                        <div class="exp h5">so that the servant of God may be thoroughly equipped for every good work! (2Timothy 3:17)</div>
                    </div>
                    <div class="fColumn mgbt40">
                        <div class="exp">
                            <div class="blt_square">
                                <div class="black"></div>
                                <div class="green"></div>
                            </div>
                            <p class="h5 mgbt40">
                                영어를 기본, 외국어교육 중심
                            </p>
                            <div class="blt_square">
                                <div class="black"></div>
                                <div class="green"></div>
                            </div>
                            <p class="h5 mgbt40">
                                초등 전 과정의 학업적 능력 향상을 지향
                            </p>
                            <div class="blt_square">
                                <div class="black"></div>
                                <div class="green"></div>
                            </div>
                            <p class="h5">
                                복음각인, 기도뿌리, 전도체질을 만드는 데에 집중
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap900 pdbt80 pdt60">
                <p class="title h1 mgt20">글로벌리더학교 <span>(GLS)</span></p>
                <p class="img mgt10 mgbt40"><img src="../images/img_letter_gls.png" alt="YESkids" class="writing gls"></p>
                <p class="h5 mgbt30">
                    <b>글로벌리더학교(GLS)는 서울특별시교육청 인가 대안교육위탁기관</b>으로서 <br>
                    2021년 3월 개교하여, 글로벌 인재 양성을 목표로 학생들의 내면치유와 소질 계발 및 진로 탐색을 통해 <br>
                    학교생활 문제 등으로 학업중단 위기에 있는 학생들을 더 나은 세상을 이끌어가는 리더로 키워내고자 합니다.<br>
                </p>
                <div class="fRow gls mgbt20">
                    <div class="img"><img src="../images/img_gls01.jpg" alt=""></div>
                    <div class="exp">
                        <div class="blt_square">
                            <div class="black"></div>
                            <div class="blue"></div>
                        </div>
                        <p class="h5">
                            <b>미래를 여는 체험형 창의융합 진로교육</b><br> 
                            교육과정 운영을 다양화를 하여 수준별 수업의 확대, 교과 체험의 날 운영, 다문화 학생 한국어 시간 배정 및 방과후 한국어 반 운영, 1인 1악기 연주하기 등의 교육활동을 하고 있습니다.
                        </p>
                    </div>
                </div>
                <div class="fRow gls mgbt20">
                    <div class="img"><img src="../images/img_gls02.jpg" alt=""></div>
                    <div class="exp">
                        <div class="blt_square">
                            <div class="black"></div>
                            <div class="blue"></div>
                        </div>
                        <p class="h5">
                            <b>가정을 함께 회복시키는 학부모 연계 교육활동</b><br> 
                            학부모를 학교 교육의 동반자로 모시고 학부모 상담활동, 각국 문화의 날 운영 및 학부모 1일 교사제 운영, 학부모 연수 및 학부모의 날 운영, 학부모의 성적관리위원회 및 대안교육 위원회 참여 제도를 운영하고 있습니다.
                        </p>
                    </div>
                </div>
                <div class="fRow gls mgbt20">
                    <div class="img"><img src="../images/img_gls03.jpg" alt=""></div>
                    <div class="exp">
                        <div class="blt_square">
                            <div class="black"></div>
                            <div class="blue"></div>
                        </div>
                        <p class="h5">
                            <b>직업교육을 통한 진로활동의 내실화</b><br> 
                            친환경 농업 힐링팜을 통한 직업체험 치유 프로그램 운영, 미래 설계를 위한 다양한 체험활동, 직업 진로교육 특강 등을 실시하고 있습니다.
                        </p>
                    </div>
                </div>
                <div class="fRow gls mgbt20">
                    <div class="img"><img src="../images/img_gls04.jpg" alt=""></div>
                    <div class="exp">
                        <div class="blt_square">
                            <div class="black"></div>
                            <div class="blue"></div>
                        </div>
                        <p class="h5">
                            <b>맞춤형 생활지도 프로그램 시행</b><br> 
                            언어권별 원어민 멘토 및 교직원 1:1 멘토링 프로그램 운영, 전교생 소통의 날 운영, 상점제 운영 및 모범상 수여,재적교와 연계한 지속적인 생활지도 체제 확립에 힘쓰고 있습니다.
                        </p>
                    </div>
                </div>
                <div class="fRow gls mgbt20">
                    <div class="img"><img src="../images/img_gls05.jpg" alt=""></div>
                    <div class="exp">
                        <div class="blt_square">
                            <div class="black"></div>
                            <div class="blue"></div>
                        </div>
                        <p class="h5">
                            <b>다양한 문화체험 활동</b><br> 
                            다문화 학생들과 함께하는 글램핑을 통한 힐링캠프 운영, 감사교육과 학생 작품 게시 및 알림판 활성화 등이 있습니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>