<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'facilities'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap facilities">
            <div class="wrap900">
                <p class="h1 mgbt20 mgt20">시설 안내도</p>
                <p class="h5 mgbt20">
                    <img src="../images/img_facilities.png" class="map" alt="교회시설안내도">
                </p>
                <div class="buildings">
                    <button class="bd01 on">본당</button>
                    <button class="bd02">문화센터</button>
                    <button class="bd03">비전센터</button>
                </div>
                <div class="floor bd01 on">
                    <ul>
                        <li>
                            <div class="num">옥상</div>
                            <div class="exp">정원</div>
                        </li>
                        <li>
                            <div class="num">4F</div>
                            <div class="exp">커버넌트홀</div>
                        </li>
                        <li>
                            <div class="num">3F</div>
                            <div class="exp">커버넌트홀 / 자모실, 개인기도실</div>
                        </li>
                        <li>
                            <div class="num">2F</div>
                            <div class="exp">커버넌트홀</div>
                        </li>
                        <li>
                            <div class="num">1F</div>
                            <div class="exp">커버넌트홀 / 예원서점</div>
                        </li>
                        <li>
                            <div class="num">B1F</div>
                            <div class="exp">커버넌트홀 / 방송실, 통역실, 청년국실</div>
                        </li>
                        <li>
                            <div class="num">B2F</div>
                            <div class="exp">원니스홀, 새가족 교육실, 포럼실, 영접실, 영아국, 유아국, 유치국, 유년국</div>
                        </li>
                        <li>
                            <div class="num">B3F~B6F</div>
                            <div class="exp">주차장</div>
                        </li>
                    </ul>
                </div>
                <div class="floor bd02">
                    <ul>
                        <li>
                            <div class="num">14F</div>
                            <div class="exp">목양실</div>
                        </li>
                        <li>
                            <div class="num">13F</div>
                            <div class="exp">당회실, 치유예배실</div>
                        </li>
                        <li>
                            <div class="num">12F</div>
                            <div class="exp">두란노홀(작은도서관)</div>
                        </li>
                        <li>
                            <div class="num">11F</div>
                            <div class="exp">농인교회/북한선교/무속국</div>
                        </li>
                        <li>
                            <div class="num">10F</div>
                            <div class="exp">다니엘홀 (의료선교 예배실, 영어 예배실)</div>
                        </li>
                        <li>
                            <div class="num">9F</div>
                            <div class="exp">여호수아홀 (러시아어 예배)</div>
                        </li>
                        <li>
                            <div class="num">8F</div>
                            <div class="exp">다윗홀 (중등국 예배)</div>
                        </li>
                        <li>
                            <div class="num">7F</div>
                            <div class="exp">이삭홀 (소년국 예배)</div>
                        </li>
                        <li>
                            <div class="num">6F</div>
                            <div class="exp">요셉홀 (초등국 예배)</div>
                        </li>
                        <li>
                            <div class="num">5F</div>
                            <div class="exp">교역자 사무실</div>
                        </li>
                        <li>
                            <div class="num">3F ~ 4F</div>
                            <div class="exp">드림홀 (대학국/시니어교회/고등국 예배)</div>
                        </li>
                        <li>
                            <div class="num">2F</div>
                            <div class="exp">이디야 카페</div>
                        </li>
                        <li>
                            <div class="num">1F</div>
                            <div class="exp">행정실, 안내실, 방재실</div>
                        </li>
                        <li>
                            <div class="num">B1F ~ B2F</div>
                            <div class="exp">스카이 아트홀</div>
                        </li>
                        <li>
                            <div class="num">B3F ~ B6F</div>
                            <div class="exp">주차장</div>
                        </li>
                    </ul>
                </div>
                <div class="floor bd03">
                    <ul>
                        <li>
                            <div class="num">6F</div>
                            <div class="exp">유니월드 / 해피올 아카데미 / 중국어 예배</div>
                        </li>
                        <li>
                            <div class="num">5F</div>
                            <div class="exp">선교국 / 선교관 / 경조캠프단 / 군선교국 / 렘넌트 교역자실 / YES KIDS / 호흡기도국</div>
                        </li>
                        <li>
                            <div class="num">4F</div>
                            <div class="exp">결혼태아국 / 대학국 / 렘넌트글로벌스쿨 / 다민족라운지 / 인니어 예배 / 일본어 예배</div>
                        </li>
                        <li>
                            <div class="num">3F</div>
                            <div class="exp">사랑교회 / 스페인어 예배</div>
                        </li>
                        <li>
                            <div class="num">2F</div>
                            <div class="exp">예원 식당</div>
                        </li>
                        <li>
                            <div class="num">1F</div>
                            <div class="exp">드림교회 / YES KIDS</div>
                        </li>
                        <li>
                            <div class="num">B1F</div>
                            <div class="exp">찬양대 연습실 / 문화캠프단 / 체조장</div>
                        </li>
                    </ul>
                </div>
                <p class="h1 mgbt80 mgt80"></p>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>