<%- include('../include/inc_header.ejs', { 
	cate : 'app',
    title : 'index_app'
}) %>
    <!-- 컨텐츠 영역 -->
    <div class="appWrap">
        <!-- 관리 1번 내용 시작 -->
        <div class="core" onclick="location.href='http://www.iyewon.org/board_lfZp65/337323';">
            <p>원단메세지</p>
            <img src="../images/img_app_letter_core_2024.svg" alt="네 장막터를 넓히라">
        </div>        
        <!-- 관리 1번 내용 끝 -->

        <!-- 관리 2번 내용 시작 -->
        <div class="worship" onclick="location.href='http://www.iyewon.org/board_YvXQ62/355793';">
            <p>주일예배</p>
            <p>나에게 예수님이란?</p>
            <p>마가복음 8:27~34</p>
        </div>        
        <!-- 관리 2번 내용 끝 -->

        <div class="btns green">
            <a href="https://www.youtube.com/user/iyewonch/live"><img class="icon_play" alt="▶">생방송</a>
            <a href="https://www.youtube.com/channel/UCi8FQPWYkn5wzwTUMkkJPfQ/live"><img class="icon_play" alt="▶">수어통역</a>
            <a href="https://www.youtube.com/playlist?list=PL0gm9trgGeD57494LyKXKQiKshuCcmlPq">새가족 메세지</a>
        </div>
        <div class="btns black">
            <a href="http://donate.iyewon.org/board_LWaM08">온라인헌금</a>
            <a href="http://donate.iyewon.org/board_mniz67">주보</a>
            <a href="http://ipgs_iyewon.nexpa.co.kr:8100/">내차 찾기</a>
        </div>
        <div class="links">
            <!--  관리 3번 내용 시작 -->
            <!--  thumb : 공지-공지사항 / thumb pink : 핑크색 공지사항  / img 01-찬양,영상 / img 02-담임목사님 특강 / img 03-예원포커스  -->
            <a href="https://www.youtube.com/watch?v=l69cwfTaJPw">
                <div class="thumb">
                    <img src="../images/img_app_thumb_01.jpg" alt="예원영상">
                </div>
                <div class="text">2024 예원선교대회 - 237선교의 장막터를 넓히라!</div>
            </a>
            <a href="http://www.iyewon.org/board_vVKY61/355098">
                <div class="thumb">
                    <img src="../images/img_app_thumb_03.jpg" alt="예원포커스">
                </div>
                <div class="text">감동의 축제, 2024 예원선교대회!</div>
            </a>
            <a href="http://www.iyewon.org/board_jZta98">
                <div class="thumb">
                    <img src="../images/img_app_thumb_03.jpg" alt="예원포커스">
                </div>
                <div class="text">금주의 예원포커스 영상</div>
            </a>
            <a href="http://docs.google.com/forms/d/e/1FAIpQLSeQEErAvnVlWENpMAEfVtIt_K0p9bEieGD3hjvTmphtG8GA5g/viewform">
                <div class="thumb">
                    공지
                </div>
                <div class="text">골육전도 신청</div>
            </a>    
            <!--  관리 3번 내용 끝 -->
        </div>
    </div>
</div>
</body>
</html>