<%- include('../include/inc_header.ejs', { 
	cate : '03',
    title : 'institution'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="listArea ytLink">
            <ul class="list">
                <li>
                    <a href="https://www.youtube.com/watch?v=1EZIRL01fxQ&list=PL0gm9trgGeD6fqsBNIXIx7g6X31dgaMzJ" target="_blank">
                        <img src="https://img.youtube.com/vi/1EZIRL01fxQ/maxresdefault.jpg" alt="">
                    </a>
                    <!-- <div class="ytWrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/1EZIRL01fxQ?si=jrxJhDGp1sY0iaNL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div> -->
                    <div class="text">
                        <span class="date">2023.10.5</span> 
                        평생 동역자로 기쁨과 즐거움을 누리는 전도위원회
                        <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                        <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                    </div>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=y93pbH5Zzk8&list=PL0gm9trgGeD6fqsBNIXIx7g6X31dgaMzJ" target="_blank">
                        <img src="https://img.youtube.com/vi/y93pbH5Zzk8/maxresdefault.jpg" alt="">
                    </a>
                    <div class="text">
                        <span class="date">2023.9.5</span>
                         코람데오 청년선교위원회 기관보고 영상
                        <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                        <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                    </div>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=VuJ9rnv_TK0&list=PL0gm9trgGeD6fqsBNIXIx7g6X31dgaMzJ" target="_blank">
                        <img src="https://img.youtube.com/vi/VuJ9rnv_TK0/maxresdefault.jpg" alt="">
                    </a>
                    <div class="text"><span class="date">2023.8.5</span> 하나님이 하시고 자 하는 일, 전문교회위원회</div>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=W8CVHKOQYTY&list=PL0gm9trgGeD6fqsBNIXIx7g6X31dgaMzJ" target="_blank">
                        <img src="https://img.youtube.com/vi/W8CVHKOQYTY/maxresdefault.jpg" alt="">
                    </a>
                    <div class="text"><span class="date">2023.7.5</span> 감사해요 권사회!</div>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=VPrKuFjexbU&list=PL0gm9trgGeD6fqsBNIXIx7g6X31dgaMzJ" target="_blank">
                        <img src="https://img.youtube.com/vi/VPrKuFjexbU/maxresdefault.jpg" alt="">
                    </a>
                    <div class="text"><span class="date">2023.7.5</span> "우리교회 안수집사 이야기" _ 안수집사회 기관보고 영상</div>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=Thc1d5UFbLA&list=PL0gm9trgGeD6fqsBNIXIx7g6X31dgaMzJ" target="_blank">
                        <img src="https://img.youtube.com/vi/Thc1d5UFbLA/maxresdefault.jpg" alt="">
                    </a>
                    <div class="text"><span class="date">2023.6.5</span> 절대적 존재 예원 장로회</div>
                </li>
            </ul>
            <div class="moreBtn">
                <button>더보기</button>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>