<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'map'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap cont_map">
            <div class="wrap900">
                <div class="maps mgt40">
                    <div class="church_map">
                        <p class="h3">지도</p>
                        <!-- * 카카오맵 - 지도퍼가기 -->
                        <!-- 1. 지도 노드 -->
                        <div id="daumRoughmapContainer1704001729864" class="root_daum_roughmap root_daum_roughmap_landing" style="width:100%;"></div>
                        
                        <!--
                            2. 설치 스크립트
                            * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
                        -->
                        <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
                        
                        <!-- 3. 실행 스크립트 -->
                        <script charset="UTF-8">
                            new daum.roughmap.Lander({
                                "timestamp" : "1704001729864",
                                "key" : "2hhek",
                                //"mapWidth" : "100%",
                                "mapHeight" : "320"
                            }).render();
                        </script>
                    </div>
                    <!-- <div class="parking_map">
                        <p class="h3">주차</p>
                        <img src="../images/img_parking.png" alt="">
                    </div> -->
                </div>
                <div class="path">
                    <div class="img">
                        <img src="../images/icon_come_car.svg" alt="">
                    </div>
                    <div class="h5 title">주소</div>
                    <div class="h5">07590 서울특별시 강서구 화곡로 63길 65(등촌동 659)</div>
                </div>
                <div class="path">
                    <div class="img">
                        <img src="../images/icon_come_park.svg" alt="">
                    </div>
                    <div class="h5 title">주차</div>
                    <div class="h5">본당 지하 3층~6층, 외부 주차타워, 부민병원(주일)</div>
                </div>
                <div class="path">
                    <div class="img">
                        <img src="../images/icon_come_call.svg" alt="">
                    </div>
                    <div class="fColumn">
                        <div class="fRow">
                            <div class="h5 title">교회안내</div>
                            <div class="h5">02-3661-2000</div>
                        </div>
                        <div class="fRow">
                            <div class="h5 title">교역자실</div>
                            <div class="h5">02-2657-9770,9714 (FAX:02-2657-9769)</div>
                        </div>
                        <div class="fRow">
                            <div class="h5 title">행정실</div>
                            <div class="h5">02-2657-9713 (FAX:02-2657-9719)</div>
                        </div>
                    </div>
                </div>
                <div class="path">
                    <div class="img">
                        <img src="../images/icon_come_subway.svg" alt="">
                    </div>
                    <div class="fColumn">
                        <div class="fRow">
                            <div class="h6"><div class="line9"><b>9</b>호선</div></div>
                            <div class="h5 title">가양역</div>
                            <div class="h5">도보 5분 - 8번, 10번 출구</div>
                        </div>
                        <div class="fRow">
                            <div class="h6"><div class="line5"><b>5</b>호선</div></div>
                            <div class="h5 title">발산역</div>
                            <div class="h5">도보 15분 - 3번, 4번 출구</div>
                        </div>
                    </div>
                </div>
                <div class="path">
                    <div class="img">
                        <img src="../images/icon_come_bus.svg" alt="">
                    </div>
                    <div class="fColumn">
                        <div class="h5 title">KBS스포츠월드</div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus grey">●</span>일반</div>
                            <div class="h5">60, 60-3, 69, 88</div>
                        </div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus blue">●</span>간선</div>
                            <div class="h5">601, 605, 654, 661, N26</div>
                        </div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus red">●</span>직행</div>
                            <div class="h5">8000</div>
                        </div>
                        <div class="fRow mgbt20">
                            <div class="h5 title"><span class="bus airport">●</span>공항버스</div>
                            <div class="h5">6000, 6003, 6008</div>
                        </div>
                        <div class="h5 title">경복비즈니스고등학교</div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus blue">●</span>간선</div>
                            <div class="h5">652, 673</div>
                        </div>
                        <div class="fRow mgbt20">
                            <div class="h5 title"><span class="bus green">●</span>지선</div>
                            <div class="h5">6627, 6645, 6632, 6642, 6715, 강서04, 강서05</div>
                        </div>
                        <div class="h5 title">강서구청</div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus grey">●</span>일반</div>
                            <div class="h5">70, 70-2, 70-3</div>
                        </div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus blue">●</span>간선</div>
                            <div class="h5">604, 606, 650, 652, 673</div>
                        </div>
                        <div class="fRow mgbt20">
                            <div class="h5 title"><span class="bus green">●</span>지선</div>
                            <div class="h5">5712, 6514, 6627, 6629, 6642</div>
                        </div>
                        <div class="h5 title">강서구청사거리, 서울디지털대학교</div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus grey">●</span>일반</div>
                            <div class="h5">60, 60-3, 69, 70, 70-2, 88</div>
                        </div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus blue">●</span>간선</div>
                            <div class="h5">601, 604, 605, 606, 650, 654, 661, N26</div>
                        </div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus green">●</span>지선</div>
                            <div class="h5">5712, 6514, 6629, 6632, 6715</div>
                        </div>
                        <div class="fRow">
                            <div class="h5 title"><span class="bus red">●</span>직행</div>
                            <div class="h5">8000</div>
                        </div>
                        <div class="fRow mgbt20">
                            <div class="h5 title"><span class="bus airport">●</span>공항버스</div>
                            <div class="h5">6000, 6003, 6008</div>
                        </div>
                    </div>
                </div>
                
                <div class="greenBox mgbt80">
                    <div class="greenLeft">
                        <div class="fRow">
                            <p class="h3">예원교회 버스 운영안내</p>
                            <div class="h4-m brightBox">주일 2,3부 예배 시, 각 지역별 운행</div>
                        </div>
                        <p class="h4-m">010-5449-5517 (우장관광)</p>
                        <p class="h4-m">010-6242-4151 (예원교회 담당자)</p>
                    </div>
                    <a href="http://iyewonhp.dimode.co.kr/files/attach/images/176/176/차량운행시간표(20231103).pdf" class="greenRight h4" target="_blank">
                        <p><span>버스 운행</span><span>시간표</span></p>
                        <p><img src="../images/icon_arrow_long_white.svg" alt=""></p>
                    </a>
                </div>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>