<%- include('../include/inc_header.ejs', { 
	cate : '04',
    title : 'ministry_disabled'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap ministry">
            <div class="wrap900">
                <p class="title h1 mgt20">드림교회</p>
                <p class="mgt10 mgbt40"><img src="../images/img_letter_dream_church.png" alt="the dream church" class="writing"></p>
                <p class="img mgt10 mgbt20">
                    <img src="../images/img_dream_01.jpg" alt="드림교회1">
                </p>
                <p class="h5 sb">드림교회는 13가지 유형에 속하는 장애인 및 가족, 봉사자, 후원자와 함께 하고 있습니다.</p>
                <p class="h3 pdt40">주요 사역</p>
                <ul class="number">
                    <li><b>예배사역</b> (장애인과 가족, 봉사자와 관련된 분들이 예배를 통해 은혜와 힘을 얻고, 동병상련의 마음으로 장애인 현장을 치유하고 살리는 사역)
                    </li>
                    <li><b>복지사역</b> (드림힐 협동조합을 통해 장애인 자립생활)
                    </li>
                    <li><b>문화사역</b> (교회 내 문화활동과 교회 밖 야외행사 등 문화활동을 통해 장애인 현장에 고착화된 문화적 요소들을 복지문화 콘텐츠로 바꾸어 가는 중요한 사역)
                    </li>
                    <li><b>연합사역</b> (장애인총연합회를 비롯해 지역 장애인 단체들과의 연합을 통해 서로 돕고 섬기는 WinWin사역)	</li>
                </ul>
                <p class="img mgt40 mgbt40">
                    <img src="../images/img_dream_02.jpg" alt="드림교회2">
                </p>
                <p class="h5 green-left mgbt10"><b>담당교역자</b>&nbsp;&nbsp;이창호 목사</p>
                <p class="h5 green-left pdbt5"><b>예배안내</b></p>
                <p class="h5 pdl10">[주일예배] 오전 11시 20분 / 드림교회 예배실</p>
                <p class="h5 pdl10 mgbt40">[수요예배] 오후 2시 / 드림교회 예배실</p>
                <div class="fRow">
                    <button class="pink_btn" onclick="window.open('http://www.youtube.com/@user-kl8uc5eq5y')"><img class="icon_youtube" alt="">&nbsp;&nbsp;유튜브 채널</button>
                </div>
            </div>
            <div class="wrapWide">
                <div class="wrap900">
                    <p class="title h1">사랑교회</p>
                    <p class="mgt10 mgbt40"><img src="../images/img_letter_sarang_church.png" alt="Sarang Church" class="writing"></p>
                    <p class="img mgt10 mgbt20">
                        <img src="../images/img_sarang_01.jpg" alt="사랑교회1">
                    </p>
                    <p class="h5 sb">사랑교회는 자폐 및 지적 장애와 같은 발달 장애인과 함께 하고 있습니다.</p>
                    <p class="h3 pdt30">주요 사역</p>
                    <p class="h5 sb">주일 예배</p>
                    <ul class="number pdbt10">
                        <li>어린이부 예배</li>
                        <li>청장년부 예배</li>
                    </ul>
                    <p class="h5 sb">주중 사역</p>
                    <ul class="number pdbt10">
                        <li>다락방과 지교회 사역: 화, 목은 부모와 사역자 집중 훈련</li>
                        <li>수, 목, 금(3일): 우리 RUTC 사역(이방인의 뜰)</li>
                        <li>매주 둘째주 토요일: 사랑부 렘넌트데이</li>
                        <li>매주 넷째주 토요일: W.I.O 토요학교 진행(렘넌트의 뜰)</li>
                        <li>매일 월-금: 성벽위의 파수꾼</li>
                        <li>월, 화, 목: 333정시기도, 부모/교사 건초더미 기도회(기도의 뜰)</li>
                    </ul>
                    <p class="h5 sb">연간 행사</p>
                    <ul class="number">
                        <li>자폐치유캠프</li>
                        <li>원니스 야유회</li>
                        <li>여름 수련회 등</li>
                    </ul>
                    <p class="img mgt40 mgbt40">
                        <img src="../images/img_sarang_02.jpg" alt="사랑교회2">
                    </p>
                    <p class="h5 green-left mgbt10"><b>담당교역자</b>&nbsp;&nbsp;최광숙 목사</p>
                    <p class="h5 green-left pdbt5"><b>예배안내</b></p>
                    <p class="h5 pdl10">[어린이부] 오전 11시20분 / 비전센터3층 303호</p>
                    <p class="h5 mgbt40 pdl10">[청장년부] 오후 12시10분 / 비전센터3층 304호</p>
                    <!-- <div class="fRow">
                        <button class="pink_btn"><img class="icon_youtube" alt="">&nbsp;&nbsp;유튜브 채널</button>
                    </div> -->
                </div>
            </div>
            <div class="wrap900 pdbt80">
                <p class="title h1 mgt20">농인전문교회</p>
                <p class="mgt10 mgbt40"><img src="../images/img_letter_deaf_church.png" alt="the deaf church" class="writing"></p>
                <p class="img mgt10 mgbt20">
                    <img src="../images/img_deaf_01.jpg" alt="농인교회1">
                </p>
                <p class="h5 sb">농인전문교회는 수어를 사용하는 농인과 수어통역자, 건청인(음성통역 준비되어 있음)과 함께하고 있습니다.</p>
                <p class="h3 pdt40">주요 사역</p>
                <ul class="number">
                    <li>현장 다락방 사역(제자 시스템)</li>
                    <li>농인 중직자, 사역자 훈련(말씀 훈련 및 포럼)</li>
                    <li>새신자 영접반, 교육반(6주 과정), 3인 1조팀 모임, 남전도회, 여전도회, 시니어회 모임 활동, 전도학교 훈련(오후 2시 30분), 수어통역자 모임 및 훈련(수어통역제자 양성), 시청각장애인, 렘넌트 사역</li>
                    <li>해외 수어 교실(태국), 해외 농인 다락방(C국)</li>
                    <li>해외 농인 선교(팔라완, 일본, 태국, C국, 우크라이나, 이스라엘)</li>
                </ul>
                <p class="img mgt40 mgbt40">
                    <img src="../images/img_deaf_02.jpg" alt="농인교회2">
                </p>
                <p class="h5 green-left mgbt10"><b>담당교역자</b>&nbsp;&nbsp;유병화 목사</p>
                <p class="h5 green-left pdbt5"><b>예배안내</b></p>
                <p class="h5 pdl10">[1부 통역예배] 오전 10시 / 본당 커버넌트홀 농인석</p>
                <p class="h5 pdl10">[2부 농인예배] 오전 11시50분 / 렘넌트문화센터 11층</p>
                <p class="h5 mgbt40 pdl10">[금요예배] 오후 8시30분 / 본당 커버넌트홀 농인석</p>
                <div class="fRow">
                    <button class="pink_btn" onclick="window.open('http://www.youtube.com/@user-hd3fr5jn5r')"><img class="icon_youtube" alt="">&nbsp;&nbsp;유튜브 채널</button>
                </div>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>