<%- include('../include/inc_header.ejs', { 
	cate : '04',
    title : 'ministry_wedding'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap ministry pdbt80">
            <div class="wrap900">
                <p class="title h1 mgt20">결혼예배</p>
                <p class="img mgt10 mgbt40"><img src="../images/img_letter_wedding.png" alt="Wedding service" class="writing"></p>
                <p class="h5 mgbt10"><b>하나님께서 축복하시고 허락하신<br>
                    세상에 단 하나뿐인 소중한 당신의 구별 된 결혼식을 위하여<br>
                    예원교회가 함께합니다.</b></p>
                <p class="h5 mgt40 mgbt40">
                    <img src="../images/img_wedding_01.jpg" alt="결혼예배1" class="title_img">
                </p>
                <p class="h3 mgt40 mgbt20">결혼예배 안내</p>
                <p class="h4 green-left mgbt20">신청자격</p>
                <p class="h6 pdl15">누구에게나 열려 있습니다. 예원교회 교인이시면 무료로 예식홀 장소를 사용하실수 있습니다.</p>           
                <p class="h4 green-left mgt40 mgbt20">예식시간</p>
                <p class="h6 pdl15">평일 및 토요일 (토요일은 1시 이후로만 가능)</p> 
                <p class="h4 green-left mgt40 mgbt20">장소</p>
                <p class="h6 pdl15 mgbt10"><b>예식홀</b>&nbsp;&nbsp;본당 원니스홀 또는 스카이아트홀(유료)</p> 
                <p class="h6 pdl15 mgbt10"><b>신부대기실</b>&nbsp;&nbsp;본당 새가족실 (지하2층)</p> 
                <p class="h6 pdl15 mgbt10"><b>뷔페 장소</b>&nbsp;&nbsp;비전센터 2층 식당</p> 
                <p class="h4 green-left mgt40 mgbt20">예배 안내</p>
                <ul>
                    <li>결혼식은 예배 형식으로 준비해야 하며, 주례자는 목사님(타교회 관계없음)으로 제한합니다.</li>
                    <li>주례자 목사님께 예식일자와 예식 시간을 확정 받으시면, 결혼담당자에게 전화상으로 협의해 주신 후,<br>
                        직접 교회로 방문하시어 신청서 서류를 작성하셔야 결혼식 예약이 되십니다. <br>
                        (결혼 장소 예약은 전화 및 구두상으로는 예약이 되지 않습니다)
                    </li>
                    <li>예식장 및 피로연 장소는 교회 전체적인 행사 사정에 따라 변경이 될 수 있으니 양해 부탁 드립니다.</li>
                    <li>교회 밖에서 자유롭게 피로연 장소를 정하셔도 됩니다.</li>
                    <li>기타 안내 및 문의사항(예배순서지, 뷔페업체, 신부님 준비사항 등)은 <br>
                        예식 담당자를 통해서 자세히 안내받으시길 바랍니다.</li>
                </ul>
                <p class="h4 green-left mgt40 mgbt20">예식 준수 사항</p>
                <ul>
                    <li>결혼 예배 장소에 셋팅 되어 있는 교회 물품(악기 및 구조물)은 이동 및 변형을 할 수 없습니다.</li>
                    <li>대형버스는 교회 주차장 안으로 진입 및 주차할 수 없습니다.(주차부와 협의하시기 바랍니다.)</li>
                    <li>피로연장(식당) 내의 흡연 및 주류 반입은 절대 금합니다.</li>
                    <li>직원 또는 경비, 주차장 근무자에게 사례(물품 포함)를 금합니다.</li>
                    <li>도난사고에 각별히 주의하시기 바랍니다.</li>
                </ul>
            </div>
            <div class="wrap900 pdt60 pdbt60">
                <div class="imgS">
                    <img src="../images/img_wedding_02_01.jpg" alt="결혼식1">
                    <img src="../images/img_wedding_02_02.jpg" alt="결혼식2">
                    <img src="../images/img_wedding_02_03.jpg" alt="결혼식3">
                    <img src="../images/img_wedding_02_04.jpg" alt="결혼식4">
                </div>
                <div class="pinkBox">
                    <p class="h3 pdr10">결혼예배 문의</p>
                    <p class="h5"><span class="pdr10">웨딩기획 사역자</span> 한은설 010-4769-7979</p>
                </div>
            </div>
            <div class="wrap900 pdbt60">
                <p class="h4 green-left mgt40 mgbt20">원니스홀</p>
                <div class="imgM">
                    <img src="../images/img_wedding_03_01.jpg" alt="원니스홀1">
                    <img src="../images/img_wedding_03_02.jpg" alt="원니스홀2">
                    <img src="../images/img_wedding_03_03.jpg" alt="원니스홀3">
                </div>
                <p class="h4 green-left mgt40 mgbt20">스카이아트홀</p>
                <div class="imgM">
                    <img src="../images/img_wedding_04_01.jpg" alt="스카이아트홀1">
                    <img src="../images/img_wedding_04_02.jpg" alt="스카이아트홀2">
                    <img src="../images/img_wedding_04_03.jpg" alt="스카이아트홀3">
                </div>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>