<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'new_family'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap newFam">
            <div class="wrap900">
                <p class="title h1 mgt20">주님의 이름으로<br /> 환영합니다.</p>
                <p class="img mgt10 mgbt60"><img src="../images/Bless_you.png" alt="Bless you and welcome you" class="writing"></p>
                <p class="h3 mgbt10">새가족 FAQ</p>
                <p class="h5 bold">예원교회와의 새로운 시작</p>
                <p class="h5 mgbt10">신앙생활은 무엇인지, 어떻게 하는지 누구에게 물어보기 어려운 질문들 때문에 답답 하신가요?<br />
                애매한 고민, 시원하게 알려드립니다.<br />
                막연한 종교생활에서 확신있는 신앙생활로, 궁금증에 대한 답을 찾아보세요.</p>
                <div class="faqWrap mgbt60">
                    <div class="faq open">
                        <div class="question">
                            <div class="icon">
                                <div class="iconQ h4">Q</div>
                            </div>
                            <p class="text h4">종교는 모두 같다?</p>
                            <div class="arrow"><button>▼</button></div>
                        </div>
                        <div class="answer">
                            <div class="icon">
                                <div class="iconA h4">A</div>
                            </div>
                            <p class="text h5">모든 종교는 열심을 요구합니다. <br />
                                인간 스스로 무엇인가 해야한다는 것은 '종교'입니다. <br />
                                그러나 기독교는 하나님이 나를 찾아오셨다는 복된 소식입니다.<br /> 예수께서 그리스도로 오셔서 나의 모든 죄를 대신 십자가에서 지시고 피 흘려 돌아가시고, 다시 살아나심으로 모든 것을 이루신 것입니다(요 19:30). <br />
                                세상 종교는 인간의 노력으로 진리와 행복을 찾으려고 하기에 한계가 있습니다. <br />
                                그러나 기독교 신앙은 인간의 행위나 노력이 아닌 살아계신 하나님이 주시는 새 생명으로 거듭나는 것입니다.
                            </p>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="question">
                            <div class="icon">
                                <div class="iconQ h4">Q</div>
                            </div>
                            <p class="text h4">교회 다니는 사람이 왜 더 악할까?</p>
                            <div class="arrow"><button>▼</button></div>
                        </div>
                        <div class="answer">
                            <div class="icon">
                                <div class="iconA h4">A</div>
                            </div>
                            <p class="text h5">추수 때 알곡과 가라지가 함께 있는 원리와 같습니다.<br />
                                예수님을 은 삼십에 팔아버린 가룟 유다는 열두 명의 제자들 속에 있었지만, 거기에도 진짜와 가짜가 섞여 있었습니다. <br />
                                병이 든 사람은 의사를 만나 치료를 받아야 합니다. <br />
                                병원이 마음에 안 든다고 안 갈 수는 없습니다. <br />
                                병을 고칠 수 있다면 반드시 그 의사를 만나야 합니다. <br />
                                교회 다니는 사람을 바라보기보다 하나님을 바라보고 믿으시기 바랍니다. <br />
                                교회를 다니는 신자라 하더라도 치유의 대상이며, 하나님의 은혜가 필요한 자들입니다.
                            </p>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="question">
                            <div class="icon">
                                <div class="iconQ h4">Q</div>
                            </div>
                            <p class="text h4">저는 제 자신을 믿습니다. 성실하고 진실되게 살면 되지 않습니까?</p>
                            <div class="arrow"><button>▼</button></div>
                        </div>
                        <div class="answer">
                            <div class="icon">
                                <div class="iconA h4">A</div>
                            </div>
                            <p class="text h5">자신을 하나님만큼 인정하십니까? <br />
                                인간은 유약한 존재이며 한계가 있습니다. <br />
                                스스로를 믿을 수 없는 경우가 더 많습니다. <br />
                                많은 것을 할 수 있으나 할 수 없는 것이 더 많고 많은 것을 알지만 모르는 것이 더 많습니다. <br />
                                독약을 약이라고 먹으면 죽듯이, 방법과 방향이 틀리면 실패 인생을 살게 됩니다. <br />
                                구원의 문제는 윤리, 도덕, 선행, 구제, 봉사로 해결되는 것이 아니라 반드시 죄문제를 해결받아야 합니다(롬 3:23, 롬 6:23). <br />
                                인간의 무능과 한계를 인정하고 하나님 앞에 나오는 자가 지혜로운 자입니다.
                            </p>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="question">
                            <div class="icon">
                                <div class="iconQ h4">Q</div>
                            </div>
                            <p class="text h4">하나님은 없다?  보이지 않는 하나님을 어떻게 믿나요?</p>
                            <div class="arrow"><button>▼</button></div>
                        </div>
                        <div class="answer">
                            <div class="icon">
                                <div class="iconA h4">A</div>
                            </div>
                            <p class="text h5">전파, 공기, 마음, 정신처럼 보이지 않지만 존재하는 것들이 있습니다. <br />
                                이순신 장군이 있었다는 사실을 어떻게 믿을 수 있습니까? <br />
                                역사는 위인전을 통해 알 수 있듯이 하나님은 성경을 통해 알 수 있습니다(창 1:1, 요 1:1). <br />
                                만물 속에는 하나님의 섭리가  있습니다. <br />
                                이는 반드시 만드신 분이 있다는 증거입니다. <br />
                                따라서 보지 않고 믿는 자가 복이 있습니다.
                            </p>
                        </div>
                    </div>
                    <div class="faq">
                        <div class="question">
                            <div class="icon">
                                <div class="iconQ h4">Q</div>
                            </div>
                            <p class="text h4">교회 안에 십자가가 없는 경우, 이상한 교회 아닌가요?</p>
                            <div class="arrow"><button>▼</button></div>
                        </div>
                        <div class="answer">
                            <div class="icon">
                                <div class="iconA h4">A</div>
                            </div>
                            <p class="text h5">‘십자가(十字架)’는 한문으로 ‘열십(十)’자 모양을 닮았다고 해서 십자가로 불리게 된 기독교를 상징하는 조형물입니다.<br />
                                십자가는 로마를 비롯한 고대에는 중죄인을 처형하던 끔찍한 사형의 한 도구였습니다. 예수님도 골고다 언덕까지 십자가를 지고 올라가셔서 십자가에 못박혀 돌아가셨습니다.<br />
                                그렇다면 기독교를 상징하는 십자가가 과연 교회에 반드시 있어야 하는 것일까요? <br />
                                그렇지는 않습니다. <br />
                                십자가는 엄연한 조형물입니다. <br />
                                십자가 자체가 구원의 대상은 아니기 때문에 오히려 십자가를 잘못된 의미로 받아들인다면 우상이 될 수 있습니다. <br />
                                중요한 것은 예수님이 왜 십자가를 지셔야만 했는가라는 사실입니다.<br /> 
                                예수님이 그리스도로 오셔서 십자가의 대속을 통해 우리의 모든 과거, 현재, 미래, 영원의 문제까지 해결하셨습니다. <br />
                                따라서 십자가 형상이 중요한 것이 아니라, 십자가에 달리신 예수님을 믿는 신앙이 구원을 얻습니다. <br />
                                십자가를 교회 강단 전면에 배치하거나 배치하지 않는 문제는 순전히 담임 목회자를 비롯한 성도들의 자유 의사입니다.
                            </p>
                        </div>
                    </div>
                    <div class="btn right">
                        <a href="new_family_faq.html" class="btnList h6">FAQ 전체보기</a>
                    </div>
                </div>
                <a href="testimony.html" class="reviewBanner mgbt60">
                    <div class="img">
                        <!-- <img src="../images/img_newfam_review.jpg" alt=""> -->
                    </div>
                    <div class="text">
                        <p class="h2 mgbt20">새가족들의 이야기가<br />궁금하시다구요?</p>
                        <p class="h4"><img class="icon_arrow_long_black" alt="link"> 영적맛집 예원교회 리뷰</p>
                    </div>
                </a>
                <p class="h3">새가족을 위한 메세지</p>
                <p class="h5 mgbt20">믿고 싶은데 신앙이 자라지 않아 답답하신가요?<br />
                    각자의 상황에 따라 시간표에 맞춰 안내해드립니다.<br />
                    기초부터 차곡차곡 한 발짝씩 시작해보아요.
                </p>
                <ul class="msgList mgbt80">
                    <li><a href="#">
                        <div class="img"><img src="../images/img_newfam_msg_1.png" alt=""></div>
                        <div class="text h4">내 인생의 도둑을 잡아라!</div>
                        <div class="arrow"><img class="icon_arrow_long_green" alt="link"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="img"><img src="../images/img_newfam_msg_2.png" alt=""></div>
                        <div class="text h4">내 인생의 절대 키워드</div>
                        <div class="arrow"><img class="icon_arrow_long_green" alt="link"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="img"><img src="../images/img_newfam_msg_3.png" alt=""></div>
                        <div class="text h4">교회 믿지 마세요! 예수를 믿으세요</div>
                        <div class="arrow"><img class="icon_arrow_long_green" alt="link"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="img"><img src="../images/img_newfam_msg_4.png" alt=""></div>
                        <div class="text h4">서로가 행복해지는 만국어</div>
                        <div class="arrow"><img class="icon_arrow_long_green" alt="link"></div>
                    </a></li>
                    <li><a href="#">
                        <div class="img"><img src="../images/img_newfam_msg_5.png" alt=""></div>
                        <div class="text h4">동굴 인생, 터널 인생</div>
                        <div class="arrow"><img class="icon_arrow_long_green" alt="link"></div>
                    </a></li>
                </ul>
                <p class="h3">새가족 등록 안내</p>
                <div class="greenBox mgbt20">
                    <div class="greenLeft h5">
                        본당 커버넌트홀 앞(지하 1층과 지상 1층)에<br />
                        새가족 등록처가 마련되어 있으며, <br />
                        온라인으로도 등록할 수 있습니다.<br />
                        <a href="yewon_family.html" target="_blank"><div class="btnBenefit">예원 성도 혜택</div></a>
                    </div>
                    <a href="https://forms.gle/63qf5X9cRjD6RV7a9" class="greenRight h4" target="_blank">
                        <p><span>온라인</span><span>새가족 등록</span></p>
                        <p><img class="icon_arrow_long_white" alt="link"></p>
                    </a>
                </div>
                <p class="h5 mgbt80">누구에게나 첫 만남은 조심스럽고 떨리는 일입니다. <br />
                    편안하고 자연스러운 시작을 도와드립니다.
                    지금 예원교회와 함께 하세요.
                </p>
                <div class="pWrap guide4w">
                    <p class="h3">새가족을 위한 4주 교육과정</p>
                    <p class="h5">본당 지하2층 새가족실 / 매주일 오전 10시</p>
                </div>
                <div class="pinkBox mgbt20">
                    <div class="pinkLeft h5">
                        <span class="bold">1주</span> 예수님은 그리스도이십니다. (마태복음 16:16)<br />
                        <span class="bold">2주</span> 구원받은 자의 축복 (요한복음 1:12)<br />
                        <span class="bold">3주</span> 영적싸움에 승리하는 하나님의 자녀 (에베소서 6:12)<br />
                        <span class="bold">4주</span> 하나님 자녀의 새로운 삶 (고린도후서 5:17)<br />
                    </div>
                    <a href="https://www.youtube.com/playlist?list=PL0gm9trgGeD57494LyKXKQiKshuCcmlPq" class="pinkRight" target="_blank">
                        <p><span>새가족</span><span>4주 교육 영상</span></p>
                        <p><img class="icon_arrow_long_white" alt="link"></p>
                    </a>
                </div>
                <div class="pWrap apply mgbt80">
                    <p class="h5 pink bold">신청방법</p>
                    <p class="h5 text">본당 커버넌트홀 지하2층 새가족실 앞 등록데스크에서 신청 접수하시면 됩니다.<br />
                        예수님이 그리스도되심을 4주에 걸쳐 쉽고 명쾌하게 풀어가는 새가족을 위한 강의이며<br />
                        4주차 교육을 마치신 후 수료식과 함께 전도회 및 각 기관과 연결됩니다.</p>
                </div>
            </div>
            <div class="wrapWide green">
                <div class="new_links">
                    <div class="linkLeft mgbt10">
                        <p class="h3"><span>궁금하신 모든 것을</span> 언제든 답해드립니다.</p>
                        <p class="h4-m">예원교회 대표전화 <span class="bold">02-3661-2000</span></p>
                        <p class="h4-m mgbt10">신앙상담 <span class="bold">1855-0191</span></p>
                        <a href="https://open.kakao.com/o/sqAmaj0f" class="counsel"><i class="fa-solid fa-comment-dots fa-flip-horizontal"></i> 온라인상담 - 카카오톡 1:1 채팅</a>
                    </div>
                    <div class="linkRight">
                        <a href="worship_schedule.html" class="greenBtn mgbt10">
                            <div class="img"><img src="../images/icon_clock.svg" alt=""></div>
                            <div class="text h5">예배안내</div>
                        </a>
                        <a href="map.html" class="greenBtn">
                            <div class="img"><img src="../images/icon_map.svg" alt=""></div>
                            <div class="text h5">오시는 길</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
<%- include('../include/inc_footer.ejs') %>