<%- include('../include/inc_header.ejs', { 
	cate : '03',
    title : 'news'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="viewArea news">
            <div class="videoplayer">
                <div class="videoWrap">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/E0L7tzVewUE?si=iUIqXRQza_5XjIzm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="title">11월 26일 예원포커스 & 예원뉴스</div>
        </div>
        <div class="listArea">
            <!-- 관리자용 체크박스(전체체크용) 샘플 :: 위치와 태그 참고 -->
            <!-- <div style="text-align:right;border-bottom: 1px solid #d3d3d3;">
                <p class="admin_check_all">전체선택 <input type="checkbox" name="admin" id="01"></p>
            </div> -->
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">11월 26일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 11월 26일</p>
                    <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                    <!-- <p class="admin_check"><input type="checkbox" name="admin" id="01"></p> -->
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">11월 19일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 11월 19일</p>
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">11월 12일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 11월 12일</p>
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">11월 5일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 11월 5일</p>
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">10월 29일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 10월 29일</p>
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">10월 22일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 10월 22일</p>
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">10월 15일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 10월 15일</p>
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">10월 8일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 10월 8일</p>
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">10월 1일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 10월 1일</p>
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">9월 24일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 9월 24일</p>
                </div>
            </a>
            <a class="list" href="news.html">
                <div class="cont">
                    <p class="title">
                        <span class="txt">9월 17일 예원포커스 & 예원뉴스</span>
                    </p>
                    <p class="date">2023년 9월 17일</p>
                </div>
            </a>
            <div class="moreBtn">
                <button>더보기</button>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>