<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'servantofgod'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap office">
            <div class="wrap900 navi">
                <div class="sub_navi mgt40">
                    <a href="servantofgod.html">교역자</a>
                    <a href="elders.html">장로</a>
                    <a class="on">직원</a>
                </div>
            </div>
            <div class="wrap900 pdt80 pdbt60"> 
                <p class="h3">행정지원실</p>
                <div class="table">
                    <div class="tr">
                        <div class="td what">실장</div>
                        <div class="td_right">
                            <div class="td when">추유신</div>
                            <div class="td where">02-2657-9732</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">국장</div>
                        <div class="td_right">
                            <div class="td when">지무룡</div>
                            <div class="td where">02-2657-9710</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap900 pdbt60"> 
                <p class="h3">총무</p>
                <div class="table">
                    <div class="tr">
                        <div class="td what">총무부장</div>
                        <div class="td_right">
                            <div class="td when">김병선</div>
                            <div class="td where">02-2657-9720</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">주임 재정2팀</div>
                        <div class="td_right">
                            <div class="td when">최경희</div>
                            <div class="td where">02-2657-9728</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">재정 1팀</div>
                        <div class="td_right">
                            <div class="td when">박미란</div>
                            <div class="td where">02-2657-9729</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">도서관</div>
                        <div class="td_right">
                            <div class="td when">지무향</div>
                            <div class="td where">02-2657-9725</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">교역자행정</div>
                        <div class="td_right">
                            <div class="td when">정선경</div>
                            <div class="td where">02-2657-9770</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">전산</div>
                        <div class="td_right">
                            <div class="td when">박미경</div>
                            <div class="td where">02-2657-9750</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">식당</div>
                        <div class="td_right">
                            <div class="td when">김명숙</div>
                            <div class="td where">-</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">식당</div>
                        <div class="td_right">
                            <div class="td when">정경숙</div>
                            <div class="td where">-</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">선교국</div>
                        <div class="td_right">
                            <div class="td when">이현희</div>
                            <div class="td where">02-2657-9717</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">선교국</div>
                        <div class="td_right">
                            <div class="td when">김현서</div>
                            <div class="td where">02-2657-9711</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap900 pdbt60"> 
                <p class="h3">관리</p>
                <div class="table">
                    <div class="tr">
                        <div class="td what">팀장</div>
                        <div class="td_right">
                            <div class="td when">조의수</div>
                            <div class="td where">02-2657-9730</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">시설</div>
                        <div class="td_right">
                            <div class="td when">이상범</div>
                            <div class="td where">02-2657-9731</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">주차장</div>
                        <div class="td_right">
                            <div class="td when">이우형</div>
                            <div class="td where">070-7763-2833</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap900 pdbt60"> 
                <p class="h3">방송</p>
                <div class="table">
                    <div class="tr">
                        <div class="td what">팀장</div>
                        <div class="td_right">
                            <div class="td when">홍순용</div>
                            <div class="td where">02-2657-9740</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">촬영/편집</div>
                        <div class="td_right">
                            <div class="td when">홍석희</div>
                            <div class="td where">02-2657-9742</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">중계</div>
                        <div class="td_right">
                            <div class="td when">김상훈</div>
                            <div class="td where">02-2657-9743</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">조명/무대</div>
                        <div class="td_right">
                            <div class="td when">차봉구</div>
                            <div class="td where">02-2657-9744</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">촬영/편집</div>
                        <div class="td_right">
                            <div class="td when">이진명</div>
                            <div class="td where">02-2657-9742</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">자막</div>
                        <div class="td_right">
                            <div class="td when">김방글</div>
                            <div class="td where">02-2657-9741</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap900 pdbt80"> 
                <p class="h3">목회지원</p>
                <div class="table">
                    <div class="tr">
                        <div class="td what">간사</div>
                        <div class="td_right">
                            <div class="td when">이옥경</div>
                            <div class="td where">02-2657-9701</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">권사</div>
                        <div class="td_right">
                            <div class="td when">노순정</div>
                            <div class="td where">-</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>