<%- include('../include/inc_header.ejs', { 
	cate : '03',
    title : 'testimony'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="viewArea combi">
            <div class="illust"></div>
            <div class="metadata">
                <p class="title">
                    왜 저렇게까지 하실까, 나를 얼마나 사랑하면
                </p>
                <p class="whenwho">2023년 8월 13일 | 조회수 : 237</p>
            </div>
            <div class="content">
                <p>안녕하세요, 저는 등촌시장 안에서 의료기 체험 센터를 운영하는 원장 김명옥입니다.<br />
                저희 센터에 오시는 박복순 권사님이 저한테 오실 때마다 매일 같이 하루도 안 빠지고 "원장님 저 소원이 있습니다. 우리 교회 가서 한번만 예배 좀 드려주세요."라고 수도없이 말을 했는데 제가 귀담아 듣지 않았어요.<br />
                그런데 어느날 갑자기 "왜 저한테 저렇게까지 하실까?" 싶어서 "그럼 한번만 가자." 그리고 제가 예원교회로 오게 됐는데 첫날에 뭔지 모르겠지만 눈물이 하염없이 끝도 없이 나와서 창피한줄도 모르고 하염없이 울었습니다. 정말 가슴이 따뜻하고 뭔지 모르겠는데 너무 은혜롭고 감격적이었습니다. 지금도 예원교회를 올 때마다 계속 눈물을 흘려요. 무엇인지는 모르겠어요. 왜 그런지 모르겠는데 찬송을 부를 때나 목사님께서 강단 말슴 하실 때나 정말 저는 하루도 안 빠지고 매일 와서 매일 울고 가는 것 같아요.<br />
                제가 새가족 4주차 훈련중에 있었던 일인데요, 저희 센터에 원장실이 따로 없었는데, 지역 목사님게서 오셔서 예배를 드려주신다고 해서 과감히 원장실을 만들었어요. 그 이유는 목사님께서 오셔서 예배를 드려주신 다는 것이 너무 감사해서였습니다. 저는 지금까지 굉장히 큰 은혜를 받고 있는데 저희 남편의 핍박이 너무 심해져서 영적 싸움을 하고 있습니다. <br />
                지금 제 목표가 우리 딸 둘과 사위 둘, 손자 손녀 네 명이 예원교회로 와서 주 안에서 우리 애들이 자랐으면 좋겠다고 생각하며 기도하고 있습니다. 꼭 이루어질 줄 알고 무시로 기도하고 있습니다. <br /><br />
                <b> Q. 인도해준 3인1조팀에게 하고싶은 말이 있나요?<br /></b>
                A. 처음에는 박복순 권사님이 수도 없이 저한테 말씀하셔서 오시면 눈 안마주치려고 피하고 했었는데, 지금은 누구보다도 박복순 권사님한테 너무 감사하고 고마워요. 또 송경희 전도사님이 매일 오셔서 매일 기도해주시고 또 모르는거 있으면 알려주셔서 감사합니다. 전도사님이 "예수가 그리스도라는 것만 명심하면 됩니다. 다른거 필요 없이 그것만 가슴에 새기면 됩니다. 다 사탄이 하는 거지 사람이 하는게 아닙니다. 영적싸움에서 승리하셔야 됩니다."라고 하셨던 그 말씀이 저의 가슴을 항상 움직이게 만들어주셔서 참 감사하게 생각하고 있습니다.<br /><br />
                <b>Q. 먼저 은혜받은 선배로서 새가족분들이나 장결자에게 전하고 싶은 말은 뭘까요?<br /></b>
                A. 갈등을 이겨내는 것이 쉽지 않더라고요. 저는 기도를 모르지만, 담임목사님의 말씀대로 '하나님 아버지 저 아시죠? 제 이름 기억하시죠? 저는 김명옥입니다.'라고 기도했거든요. 그런데 답은 말씀대로 기도하면 정말로 된다는 것을 알게 되었습니다. 마지막으로 주변 사람들이 복음 전할 때에 거짓말로 듣지 말고 '나를 얼마나 사랑하면 이렇게 복음을 알릴까?'라는 생각으로 진심으로 듣고 기도했으면 좋겠다는 생각을 많이 하게 됩니다.</p>
            </div>
            <div class="contLinks">
                <div class="preCont">
                    <a href="#" alt="교회가 있기에 돌아올 수 있었습니다.">
                        <i class="fa-solid fa-chevron-left"></i>
                        <span class="info">이전글</span>
                        <span class="title">교회가 있기에 돌아올 수 있었습니다.</span>
                    </a>
                </div>
                <div class="nextCont">
                    <a href="#" alt="왜 저렇게까지 하실까, 나를 얼마나 사랑하면">
                        <span class="info">다음글</span>
                        <span class="title">왜 저렇게까지 하실까, 나를 얼마나 사랑하면</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="otherLinks">
                <div class="share">
                    <span>공유하기</span>
                    <button><img src="../images/icon_facebook.png" /></button>
                    <button><img src="../images/icon_twitter.png" /></button>
                    <button><img src="../images/icon_kakaotalk.png" /></button>
                </div>
                <div class="list"><a href="testimony.html">목록</a></div>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>