<%- include('../include/inc_header.ejs', { 
	cate : '03',
    title : 'testimony'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="listArea textBox">
            <!-- 관리자용 체크박스(전체체크용) 샘플 :: 위치와 태그 참고 -->
            <!-- <div>
                <p class="admin_check_all"><input type="checkbox" name="admin" id="01"> 전체선택</p>
            </div> -->
            <div class="listWrap">
                <a class="list no1" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 교회가 있기에 돌아올 수 있었습니다. "
                        </p>
                        <p class="text">
                            안녕하세요, 남부대교구 새가족 김연정 성도입니다.<br />
                            저는 기독교 집안에서 성장했지만 불신자 남편을 만나 아이들을 키우고 직장을 다녀야하는 이유로 집근처에 있는 교회에 등록만 하고 신앙생활을 제대로 하지 못하고 있었습니다.
                        </p>
                        <p class="date">
                            2023년 10월 17일
                            <!-- 관리자용 체크박스 샘플 :: 위치와 태그 참고 -->
                            <!-- <input type="checkbox" name="admin" id="01">  -->
                        </p>
                    </div>
                </a>
                <a class="list no2" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 왜 저렇게까지 하실까, 나를 얼마나 사랑하면 "
                        </p>
                        <p class="text">
                            안녕하세요, 저는 등촌시장 안에서 의료기 체험 센터를 운영하는 원장 김명옥입니다.<br />
                            저희 센터에 오시는 박복순 권사님이 저한테 오실 때마다 매일 같이 하루도 안 빠지고 "원장님 저 소원이 있습니다. 우리 교회 가서 한번만 예배 좀 드려주세요."라고 수도없이 말을 했는데 제가 귀담아 듣지 않았어요.
                        </p>
                        <p class="date">2023년 10월 21일</p>
                    </div>
                </a>
                <a class="list no3" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 교회가 있기에 돌아올 수 있었습니다. "
                        </p>
                        <p class="text">
                            안녕하세요, 남부대교구 새가족 김연정 성도입니다.<br />
                            저는 기독교 집안에서 성장했지만 불신자 남편을 만나 아이들을 키우고 직장을 다녀야하는 이유로 집근처에 있는 교회에 등록만 하고 신앙생활을 제대로 하지 못하고 있었습니다.
                        </p>
                        <p class="date">2023년 10월 17일</p>
                    </div>
                </a>
                <a class="list no4" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 왜 저렇게까지 하실까, 나를 얼마나 사랑하면 "
                        </p>
                        <p class="text">
                            안녕하세요, 저는 등촌시장 안에서 의료기 체험 센터를 운영하는 원장 김명옥입니다.<br />
                            저희 센터에 오시는 박복순 권사님이 저한테 오실 때마다 매일 같이 하루도 안 빠지고 "원장님 저 소원이 있습니다. 우리 교회 가서 한번만 예배 좀 드려주세요."라고 수도없이 말을 했는데 제가 귀담아 듣지 않았어요.
                        </p>
                        <p class="date">2023년 10월 21일</p>
                    </div>
                </a>
                <a class="list no5" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 교회가 있기에 돌아올 수 있었습니다. "
                        </p>
                        <p class="text">
                            안녕하세요, 남부대교구 새가족 김연정 성도입니다.<br />
                            저는 기독교 집안에서 성장했지만 불신자 남편을 만나 아이들을 키우고 직장을 다녀야하는 이유로 집근처에 있는 교회에 등록만 하고 신앙생활을 제대로 하지 못하고 있었습니다.
                        </p>
                        <p class="date">2023년 10월 17일</p>
                    </div>
                </a>
                <a class="list no6" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 왜 저렇게까지 하실까, 나를 얼마나 사랑하면 "
                        </p>
                        <p class="text">
                            안녕하세요, 저는 등촌시장 안에서 의료기 체험 센터를 운영하는 원장 김명옥입니다. 저희 센터에 오시는 박복순 권사님이 저한테 오실 때마다 매일 같이 하루도 안 빠지고 "원장님 저 소원이 있습니다. 우리 교회 가서 한번만 예배 좀 드려주세요."라고 수도없이 말을 했는데 제가 귀담아 듣지 않았어요.
                        </p>
                        <p class="date">2023년 10월 21일</p>
                    </div>
                </a>
                <a class="list no7" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 교회가 있기에 돌아올 수 있었습니다. "
                        </p>
                        <p class="text">
                            안녕하세요, 남부대교구 새가족 김연정 성도입니다.<br />
                            저는 기독교 집안에서 성장했지만 불신자 남편을 만나 아이들을 키우고 직장을 다녀야하는 이유로 집근처에 있는 교회에 등록만 하고 신앙생활을 제대로 하지 못하고 있었습니다.
                        </p>
                        <p class="date">2023년 10월 17일</p>
                    </div>
                </a>
                <a class="list no1" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 왜 저렇게까지 하실까, 나를 얼마나 사랑하면 "
                        </p>
                        <p class="text">
                            안녕하세요, 저는 등촌시장 안에서 의료기 체험 센터를 운영하는 원장 김명옥입니다.<br />
                            저희 센터에 오시는 박복순 권사님이 저한테 오실 때마다 매일 같이 하루도 안 빠지고 "원장님 저 소원이 있습니다. 우리 교회 가서 한번만 예배 좀 드려주세요."라고 수도없이 말을 했는데 제가 귀담아 듣지 않았어요.
                        </p>
                        <p class="date">2023년 10월 21일</p>
                    </div>
                </a>
                <a class="list no2" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 교회가 있기에 돌아올 수 있었습니다. "
                        </p>
                        <p class="text">
                            안녕하세요, 남부대교구 새가족 김연정 성도입니다.<br />
                            저는 기독교 집안에서 성장했지만 불신자 남편을 만나 아이들을 키우고 직장을 다녀야하는 이유로 집근처에 있는 교회에 등록만 하고 신앙생활을 제대로 하지 못하고 있었습니다.
                        </p>
                        <p class="date">2023년 10월 17일</p>
                    </div>
                </a>
                <a class="list no3" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 왜 저렇게까지 하실까, 나를 얼마나 사랑하면 "
                        </p>
                        <p class="text">
                            안녕하세요, 저는 등촌시장 안에서 의료기 체험 센터를 운영하는 원장 김명옥입니다. 저희 센터에 오시는 박복순 권사님이 저한테 오실 때마다 매일 같이 하루도 안 빠지고 "원장님 저 소원이 있습니다. 우리 교회 가서 한번만 예배 좀 드려주세요."라고 수도없이 말을 했는데 제가 귀담아 듣지 않았어요.
                        </p>
                        <p class="date">2023년 10월 21일</p>
                    </div>
                </a>
                <a class="list no4" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 왜 저렇게까지 하실까, 나를 얼마나 사랑하면 "
                        </p>
                        <p class="text">
                            안녕하세요, 저는 등촌시장 안에서 의료기 체험 센터를 운영하는 원장 김명옥입니다.<br />
                            저희 센터에 오시는 박복순 권사님이 저한테 오실 때마다 매일 같이 하루도 안 빠지고 "원장님 저 소원이 있습니다. 우리 교회 가서 한번만 예배 좀 드려주세요."라고 수도없이 말을 했는데 제가 귀담아 듣지 않았어요.
                        </p>
                        <p class="date">2023년 10월 21일</p>
                    </div>
                </a>
                <a class="list no5" href="testimony_view.html">
                    <div class="illust"></div>
                    <div class="cont">
                        <p class="title">
                            " 교회가 있기에 돌아올 수 있었습니다. "
                        </p>
                        <p class="text">
                            안녕하세요, 남부대교구 새가족 김연정 성도입니다.<br />
                            저는 기독교 집안에서 성장했지만 불신자 남편을 만나 아이들을 키우고 직장을 다녀야하는 이유로 집근처에 있는 교회에 등록만 하고 신앙생활을 제대로 하지 못하고 있었습니다.
                        </p>
                        <p class="date">2023년 10월 17일</p>
                    </div>
                </a>
            </div>
            <div class="moreBtn">
                <button>더보기</button>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>