<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'worship_schedule',
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap schedule">
            <div class="wrap900">
                <!-- <p class="h1 mgbt20 mgt20">예배 안내</p> -->
                <p class="h3 mgt40">주일예배</p>
                <div class="table type1">
                    <div class="tr">
                        <div class="td what">1부</div>
                        <div class="td_right">
                            <div class="td when">오전 7시 30분</div>
                            <div class="td where">비전센터 1층 드림교회</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">2부</div>
                        <div class="td_right">
                            <div class="td when">오전 10시 (영어, 중국어, 일본어, 러시아어, 스페인어, 인니어, 수화 통역)</div>
                            <div class="td where">본당 커버넌트홀</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">3부</div>
                        <div class="td_right">
                            <div class="td when">낮 12시 (영어 통역)</div>
                            <div class="td where">본당 커버넌트홀</div>
                        </div>
                    </div>
                </div>
                <p class="h3 mgt20">주중예배</p>
                <div class="table type2">
                    <div class="tr">
                        <div class="td what">수요예배</div>
                        <div class="td_right">
                            <div class="td when">수요일 오후 7시 50분</div>
                            <div class="td where">렘넌트문화센터 3층 드림홀</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">금요기도회</div>
                        <div class="td_right">
                            <div class="td when">금요일 오후 8시 30분 (수화통역)</div>
                            <div class="td where">본당 커버넌트홀</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">새벽기도회</div>
                        <div class="td_right">
                            <div class="td when">월~금요일 새벽 5시 30분</div>
                            <div class="td where">렘넌트문화센터 3층 드림홀</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">토요핵심</div>
                        <div class="td_right">
                            <div class="td when">토요일 오전 9시</div>
                            <div class="td where">렘넌트문화센터 3층 드림홀</div>
                        </div>
                    </div>
                </div>
                <p class="h3 mgt20">렘넌트위원회 및 청년 예배</p>
                <div class="table type3">
                    <div class="tr">
                        <div class="td what">결혼태아국</div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">비전센터 4층 결혼태아국실</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">영아국 <span>(1~3세)</span></div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">본당 지하 2층 영아국실</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">유아국 <span>(4~5세)</span></div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">본당 지하 2층 유아국실</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">유치국 <span>(6~7세)</span></div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">본당 지하 2층 유치국실</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">유년국 <span>(초등1~2)</span></div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">본당 지하 2층 유년국실</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">초등국 <span>(초등3~4)</span></div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">렘넌트문화센터 6층 601호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">소년국 <span>(초등5~6)</span></div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">렘넌트문화센터 7층 701호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">중등국</div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">렘넌트문화센터 8층 801호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">고등국</div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">렘넌트문화센터 9층 901호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">대학국</div>
                        <div class="td_right">
                            <div class="td when">오후 2시 30분</div>
                            <div class="td where">렘넌트문화센터 3층 드림홀</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">청년선교회</div>
                        <div class="td_right">
                            <div class="td when">오후 2시 30분</div>
                            <div class="td where">본당 커버넌트홀</div>
                        </div>
                    </div>
                </div>
                <p class="h3 mgt20">교육 및 모임</p>
                <div class="table type4">
                    <div class="tr">
                        <div class="td what">새가족교육</div>
                        <div class="td_right">
                            <div class="td when">오전 10시</div>
                            <div class="td where">본당 지하 2층 새가족실</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">시니어대학</div>
                        <div class="td_right">
                            <div class="td when">수요일 오전 10시</div>
                            <div class="td where">렘넌트문화센터 10층 1001호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">목요사역자조장</div><!--240318 수정-->
                        <div class="td_right">
                            <div class="td when">목요일 오전 10시</div><!--240318 수정-->
                            <div class="td where">각 대교구별 장소</div>
                        </div>
                    </div>
                </div>
                <p class="h3 mgt20">다민족 예배</p>
                <div class="table type5">
                    <div class="tr">
                        <div class="td what">일본어권 예배</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">비전센터 4층 403호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">러시아어권 예배</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">렘넌트문화센터 701호</div><!--240318 수정-->
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">영어권 예배</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">렘넌트문화센터 9층 901호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">중화권 예배</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">비전센터 6층</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">중남미권 예배</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">비전센터 3층 301호</div><!--240318 수정-->
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">인니어권 예배</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">본당 지하 2층 유년국실</div>
                        </div>
                    </div>
                    <!--240318 수정 : 아래 div 추가-->
                    <div class="tr">
                        <div class="td what">아시아권 예배</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">렘넌트문화센터 7층 703호</div>
                        </div>
                    </div>
                </div>
                <p class="h3 mgt20">전문교회 예배</p>
                <div class="table type3">
                    <div class="tr">
                        <div class="td what">시니어전문교회</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div><!--240318 수정-->
                            <div class="td where">렘넌트문화센터 3층 드림홀</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">사랑교회 <span>(어린이부)</span></div>
                        <div class="td_right">
                            <div class="td when">오전 11시 30분</div>
                            <div class="td where">비전센터 3층 303호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">사랑교회 <span>(청장년부)</span></div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">비전센터 3층 304호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">농인전문교회</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">렘넌트문화센터 11층 1102호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">드림교회</div>
                        <div class="td_right">
                            <div class="td when"><!--240318 수정-->
                                오전 11시 30분 (1부) <br>
                                오후 2시 30분 (2부)
                            </div>
                            <div class="td where">비전센터 1층 드림교회</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">의료선교국</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">렘넌트문화센터 10층 1001호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">치유전문교회</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">렘넌트문화센터 3층 드림홀</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">무속전문교회</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">렘넌트문화센터 11층 1101호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">교정전문교회</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">렘넌트문화센터 11층 1101호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">NK전문교회</div>
                        <div class="td_right">
                            <div class="td when">낮 12시</div>
                            <div class="td where">비전센터 4층 결혼태아국실</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">군전문교회</div>
                        <div class="td_right">
                            <div class="td when">오전 11시 30분</div>
                            <div class="td where">렘넌트문화센터 8층 801호</div>
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td what">호흡기도국</div>
                        <div class="td_right">
                            <div class="td when">오전 11시 50분</div>
                            <div class="td where">렘넌트문화센터 6층 601호</div>
                        </div>
                    </div>
                </div>
                <p class="h1 mgbt40"></p>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>