<%- include('../include/inc_header.ejs', { 
	cate : '01',
    title : 'new_family'
}) %>
        <!-- 컨텐츠 영역 -->
        <div class="contentWrap ywFam">
            <div class="wrap900">
                <p class="h1 mgt20">예원교회 <span>가족이면</span></p>
                <p class="h1">누리세요!</p>
                <p class="mgbt20"><img src="/images/img_letter_yewonfamily.png" alt=""></p>
                <p class="h3">예원교회 성도 혜택</p>
                <ul class="benefit">
                    <li>
                        <div class="img b01">
                            <p><span class="h4">혜택</span><span class="h3">1</span></p>
                            <p class="h3">새가족 VIP Day 초청</p>
                        </div>                        
                        <div class="text">
                            <p class="h5">정식 등록한 새가족에게 상/하반기 <u>예원새가족 VIP Day</u> 초청 <br><u>(식사 / 축하선물 증정)</u></p>
                        </div>
                    </li>
                    <li>
                        <div class="img b02">
                            <p><span class="h4">혜택</span><span class="h3">2</span></p>
                            <p class="h3">문화 / 교육 / 생활편의</p>
                        </div>                        
                        <div class="text">
                            <p class="h5">스카이아트홀 <u>무료입장</u> (예원교회 주최공연)</p>
                            <p class="h5">해피올평생교육아카데미 <u>50%할인</u></p>
                            <p class="h5">교회 주차장 <u>무료 사용</u> (8시간/일,무제한)</p>
                        </div>
                    </li>
                    <li>
                        <div class="img b03">
                            <p><span class="h4">혜택</span><span class="h3">3</span></p>
                            <p class="h3">결혼예식 지원</p>
                        </div>                        
                        <div class="text">
                            <p class="h5">웨딩홀 (원니스홀) 무료 사용</p>
                            <p class="h5">웨딩 컨설팅 무료 제공</p>
                        </div>
                    </li>
                    <li>
                        <div class="img b04">
                            <p><span class="h4">혜택</span><span class="h3">4</span></p>
                            <p class="h3">장례식 지원</p>
                        </div>                        
                        <div class="text">
                            <p class="h5">화장용 수의 무료 제공 / 근조 바구니 2개 / 근조 3단 화환 1개 / <br>일회용 접객용품 (200인분) / 빈소찬양기 등 <u>장례용품 무료 제공</u></p>
                            <p class="h5"><u>장례차량 무료제공</u> (교회 담당부서와 협의)</p>
                            <p class="h5">이대서울병원 장례식장 <u>빈소사용료 20% 할인</u></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <%- include('../include/inc_footer.ejs') %>