
        <!-- footer -->
        <footer>
            <div class="footer_cont">
                <div class="ft_logo">
                    <img class="logo_yewon" alt="예원교회CI">
                    <img class="logo_yewon_letter" alt="예원교회CI">
                </div>   
                <div class="text">
                    <div class="txt_link h5">
                        <a href="#">개인정보취급방침</a>
                        <a href="#">이용약관</a>
                        <a href="#">이용안내</a>
                    </div>
                    <div class="txt_info">
                        <p class="h5">07590 서울특별시 강서구 화곡로 63길 65 (등촌동 659)</p>
                        <p class="h5">교회사무실 : 02-3661-2000(대표) | FAX : 02-2657-9719 | 교역자사무실 : 02-2657-9770</p>
                    </div>
                    <div class="txt_copy h5">
                        Copyright© Yewon Church. all right reserved.
                    </div>
                </div>
                <div class="icons">
                    <a href="https://pf.kakao.com/_kjlyK" target="_blank"><img src="/images/icon_footer_kakao.png" alt="예원교회 카카오톡 채널"></a>
                    <a href="https://www.youtube.com/@iyewonch" target="_blank"><img src="/images/icon_footer_youtube.png" alt="예원교회 유튜브 채널"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.dimode.hYewon&hl=ko&gl=KR" target="_blank"><img src="/images/icon_footer_playmarket.png" alt="예원교회 어플(안드로이드)"></a>
                    <a href="https://apps.apple.com/kr/app/%EC%98%88%EC%9B%90%EA%B5%90%ED%9A%8C-%ED%99%88%ED%8E%98%EC%9D%B4%EC%A7%80/id1454221030" target="_blank"><img src="/images/icon_footer_appstore.png" alt="예원교회 어플(iOS)"></a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>